*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    /*quebra linha*/
    
    height: 1000px;

    /* Alinhamento em x e y*/
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
}
.child{
    width: 33%;
    height: 200px;
    border: 2px solid black;
}